<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Harmonium</title>

        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <script src="https://unpkg.com/tone@13.8.25/build/Tone.js"></script> 
        
    </head>
    <body>
        <div id='content'>
            <div id='inf'>
                <span id=notes></span>
            </div>
            <div id='controls'></div>
            <div id="harmony_slide">
                <div id='slide'></div>
            </div>
            <div id="keyboard">
                <div class="key white c" data-note="C3"></div>
                <div class="key black c_sharp" data-note="C#3"></div>
                <div class="key white d" data-note="D3"></div>
                <div class="key black d_sharp" data-note="D#3"></div>
                <div class="key white e" data-note="E3"></div>
                <div class="key white f" data-note="F3"></div>
                <div class="key black f_sharp" data-note="F#3"></div>
                <div class="key white g" data-note="G3"></div>
                <div class="key black g_sharp" data-note="G#3"></div>
                <div class="key white a" data-note="A3"></div>
                <div class="key black a_sharp" data-note="A#3"></div>
                <div class="key white b" data-note="B3"></div>
                <div class="key white c" data-note="C4"></div>
                <div class="key black c_sharp" data-note="C#4"></div>
                <div class="key white d" data-note="D4"></div>
                <div class="key black d_sharp" data-note="D#4"></div>
                <div class="key white e" data-note="E4"></div>
                <div class="key white f" data-note="F4"></div>
                <div class="key black f_sharp" data-note="F#4"></div>
                <div class="key white g" data-note="G4"></div>
                <div class="key black g_sharp" data-note="G#4"></div>
                <div class="key white a" data-note="A4"></div>
                <div class="key black a_sharp" data-note="A#4"></div>
                <div class="key white b" data-note="B4"></div>
                <div class="key white c" data-note="C5"></div>
                <div class="key black c_sharp" data-note="C#5"></div>
                <div class="key white d" data-note="D5"></div>
                <div class="key black d_sharp" data-note="D#5"></div>
                <div class="key white e" data-note="E5"></div>
                <div class="key white f" data-note="F5"></div>
                <div class="key black f_sharp" data-note="F#5"></div>
                <div class="key white g" data-note="G5"></div>
                <div class="key black g_sharp" data-note="G#5"></div>
                <div class="key white a" data-note="A5"></div>
                <div class="key black a_sharp" data-note="A#5"></div>
                <div class="key white b" data-note="B5"></div>
            </div>
        </div>

        <script type="text/javascript" src="js/main.js"></script> 
        <script type="text/javascript" src="js/slider.js"></script> 
        <script type="text/javascript" src="js/synth.js"></script> 
    </body>
</html>